@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

body  {
  font-family: 'Space Mono', monospace;
  font-weight: thin;
  background-color: #0C1618;
  color: #FF0054;
  text-align: center;
  padding-left: 0px;
  margin: 0px;
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}

.thin {
  font-weight: 100;
  font-size: 60px;
}

.profile-image {
  margin: 24px;
}

.Lebenslauf {
  justify-content: space-around;
  align-items: baseline;
}

.Lebenslauf-text {
  color:#0EF7FB;
  font-weight: 100;
  font-size: 18px;
  padding: 30px;
  margin: 30px;
  background-color: #1b2028;
}

.card-person {
  overflow: hidden;
  height: 800px;
  background-color: #1b2028;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: space-between;
}

.img {
  align-items: right;
}

.card-person img {
  height: 600px;
  width: 400px;
  display: flex;
  object-fit: cover;
  padding-right: 0;
  margin-right: 0;
  align-items: right;
}

.card-person h2 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  color:#0EF7FB;
}

.card-person h3 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  color:#4A7856;
}

.card-person p {
  font-size: 20px;
  font: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-person .card-person-infos {
  padding: 16px;
}

.footer {
  background: #860B36;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(179, 179, 179, 0.596);
  color: #FF0054
}

.footer-mitte {
  display: flex;
  align-items: center;
}

.footer-mitte a {
  color: #FF0054;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-mitte a:hover {
  opacity: 1;
}

.footer-copyright {
  padding-left: 10 px;
}

.Lebenslauf-text h2 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
  color:#0EF7FB;
}

.Lebenslauf-text p {
  font-size: 20px;
  font: bold;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 4px;
  color: #FF0054;
}